body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
}

#app {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 1000px;
}

#task-form {
    margin-bottom: 20px;
}

#task-input {
    padding: 8px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#task-input:focus {
    outline: none;
    border-color: #007bff;
}

button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#tasks {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.completed {
    background-color: #d4edda;
    
    border: 1px solid #d4edda;
    border-bottom: none; /* Remove the bottom border for completed tasks */
}

li button {
    margin-left: 10px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

li button:hover {
    background-color: #ccc;
}


h1 {
    color: #007bff;
    margin-bottom: 20px;
}

h2 {
    color: #007bff;
    margin-bottom: 10px;
}

#pending-tasks,
#completed-tasks {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

#completed-list {
    color: #28a745;

}
